html, body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai 2', sans-serif;
    scroll-behavior: smooth;
}

div {
    padding: 0;
    margin: 0;
}

main {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
}

#scroll {
    position: absolute;
    top: 80vh;
    z-index: 99;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #000;
    width: 120px;
    opacity: 70%;
}

.scroll-btn {
    position: fixed;
    z-index: 99;
    right: 1.5%;
    text-align: center;
    font-size: 2em;
    color: #aaa;
    background-color: rgba(12, 12, 12, 0.9);
    border-radius: 10px;
    height: 40px;
    width: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
}

.scroll-btn:hover {
    cursor: pointer;
}

#next div, #previous div {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}


#next {
    bottom: 8px;
}

#next div {
    background-image: url("../assets/arrow_downward-24px.svg");
}

#previous {
    bottom: 70px;
}

#previous div {
    background-image: url("../assets/arrow_upward-24px.svg");
}

#next:hover {
    cursor: pointer;
    color: #ddd;
}

.section {
    max-height: 100vh;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    background-color: #000;
}

.timeline-item {
    color: #aaa;
    position: sticky;
    right: 40px;
    top: 16px;
    width: 98%;
    display: block;
    text-align: right;
    padding-right: 40px;
    margin-top: 1px;
}

.card {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    padding-top: 25vh;
}

.card h1 {
    font-size: 4em;
    color: #ddd;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.card h2 {
    font-size: 3.5em;
    color: #999;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.card p {
    font-size: 2.5em;
    color: #ccc;
}

.card h3 {
    text-align: center;
    color: #aaa;
    font-size: 10em;
}

.card h4 {
    color: #aaa;
}

.footer {
    font-size: 20px !important;
    color: #555 !important;
}

#timeline-position {
    position: fixed;
    top: 25px;
    right: 6%;
    width: 40px;
    height: 3px;
    z-index: 98;
    background-color: #bbb;
}

@media screen and (max-width: 800px) {
    #timeline-position {
        right: 15%;
    }
}

@media screen and (max-width: 700px) {
    .card {
        padding-top: 20vh;
        width: 80%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .card h1 {
        font-size: 3em;
    }

    .card h2 {
        font-size: 2.5em;
    }

    .card p {
        font-size: 1.5em;
    }

    .card h3 {
        font-size: 9em;
    }

    .scroll-btn {
        padding: 5px;
    }

    #next {
    bottom: 5px;
    }

    #previous {
        bottom: 67px;
    }
}

@media screen and (max-height: 700px) {
    #scroll {
        display: none;
    }
}
